@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Space+Mono:wght@400;700&display=swap');


/* skill */
/* .con{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
/* .car{
  position: relative;
  width: 22opx;
  height: 250px;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
} */

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}






.car .percent{
  position: relative;
  width: 150px;
  height: 150px;
  /* background: #f00; */
  /* transform: rotate(270deg); */
 
}
.bootstrap{
  --clr:#04fc43;
 --num:90;
}
.tailwind{
  --clr:#f00;
 --num:80;
}
.react{
  --clr:rgb(4, 0, 255);
 --num:80;
}
.car .percent svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);

}
.car .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}
.car .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}
.dot{
  position:absolute;
  /* background: #f00; */
  inset: 5px;
 z-index: 10;
 transform: rotate(calc(3.6deg * var(--num)));
 animation: animateDot 2s linear forwards;
}
@keyframes animateDot{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
.dot::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}
.number{
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2s;
}
/* skill */

.gl{
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.86);
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Italiana', sans-serif;
font-family: 'Space Mono', monospace;
  
}


.h-app{
  min-height: 100vh;
}
.bg{
   background-image: url('./images/ilgmyzin--nTnw6JazMg-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero-bg{
  background-image: url('https://unded-react.envalabdemos.com/static/media/bg.c7e5ac36b55a13b78a9c.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero-overlay{
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-h-2{
  font-size: 2.5rem;
  font-weight: 600;
}

.typed-cursor{
  font-size: 2.5rem;
}

.glassmorphic {
  box-shadow: rgba(255, 255, 255, 0.5) -10px -10px 45px inset,
    rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
}


.ico-circle {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 2rem; 
    box-shadow: 0 0 0 10px #faad1b;
    /* display: block; */
  
      /* height: 100px;
      width: 100px;
      font-size: 3rem;
      border-radius: 100%;
      line-height: 1.55;
      margin: 0 auto;
      text-align: center;
      box-shadow: 0 0 0 10px #0078ff; */
    transition: all 300ms ease-in-out;
  }
  
  .fade:hover .ico-circle{
    color: #fff;
    box-shadow: 0 0 0 10px #DD8469;
    background-color: #faad1b;
    transition: all 300ms ease-in-out;
  }gl



.type--A{
  --line_color : white ;
  --back_color : rgba(255, 255, 255)  ;
}

.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}

/* .container{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
} */
.button:not(:last-child){
  margin-bottom : 64px ;
}

.card {
	/* background-color: theme('colors.black'); */
	border-radius: theme('borderRadius.sm');
	/* padding: theme('spacing.4'); */
	box-shadow: theme('boxShadow.lg');
    
  }

  .card img{
	transition: all 1s;
	transition-timing-function: ease-in-out;
  }
.card:hover img{
		transform: scale(1.3);
}



