@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Space+Mono:wght@400;700&display=swap');
/* HTML: <div class="loader"></div> */


.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.nb{
  background: rgba( 11, 20, 1, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
}



/* skill */

.car .percent{
  position: relative;
  width: 150px;
  height: 150px;

 
}
.bootstrap{
  --clr:#7611f6;
 --num:80;
}
.tailwind{
  --clr:#04fc43;
 --num:90;
}
.react{
  --clr:#38bdf8;
 --num:85;
}
.js{
  --clr:#faad1b;
  --num:80;
}
.php{
  --clr:rgb(4, 0, 255);
  --num:80;
}
.lara{
  --clr:#f9322c;
  --num:85;
}
.car .percent svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);

}
.car .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}
.car .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}
.dot{
  position:absolute;
  inset: 5px;
 z-index: 10;
 transform: rotate(calc(3.6deg * var(--num)));
 animation: animateDot 2s linear forwards;
}
@keyframes animateDot{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
.dot::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}
.number{
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2s;
}
/* skill */

.gl{
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.4px);
-webkit-backdrop-filter: blur(15.4px);
border: 1px solid rgba(255, 255, 255, 0.86);
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 background-color: #000;
  font-family: 'Italiana', sans-serif;
font-family: 'Space Mono', monospace;
  
}


.h-app{
  min-height: 100vh;
}
.bg{
   background-image: url('./images/ryoji-hayasaka-Pi2YfVX-TMY-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero-bg{
  background-image: url('./images/conifers-1867371.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero-overlay{
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-h-2{
  font-size: 2.5rem;
  font-weight: 600;
}

.typed-cursor{
  font-size: 2.5rem;
}

.glassmorphic {
  box-shadow: rgba(255, 255, 255, 0.5) -10px -10px 45px inset,
    rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
}
.gla{
  background: rgba( 22, 23, 22, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.gl{
  background: rgba( 65, 117, 5, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.ico-circle {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 2rem; 
    box-shadow: 0 0 0 10px #faad1b;
    transition: all 300ms ease-in-out;
  }
  
  .fade:hover .ico-circle{
    color: #fff;
    box-shadow: 0 0 0 10px #DD8469;
    background-color: #faad1b;
    transition: all 300ms ease-in-out;
  }



.type--A{
  --line_color : white ;
  --back_color : rgba(255, 255, 255)  ;
}


.card {
	/* background-color: theme('colors.black'); */
	/* border-radius: theme('borderRadius.sm'); */
	/* padding: theme('spacing.4'); */
	/* box-shadow: theme('boxShadow.lg'); */
    
  }

  .card img{
	transition: all 1s;
	transition-timing-function: ease-in-out;
  }
.card:hover img{
		transform: scale(1.3);
}



