@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Space+Mono:wght@400;700&display=swap');
/* HTML: <div class="loader"></div> */


.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.text-left,
.text-right,
.middle-content {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.text-left {
  left: -100%;
  animation: slideInLeft 1s forwards;
}

.text-right {
  right: -100%;
  animation: slideInRight 1s forwards;
}

.middle-content {
  bottom: 0;
  transform: translateY(100%);
  animation: slideUp 1s forwards;
}

.line-cube {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  position: relative;
  perspective: 100px; /* Adjust perspective as needed */
}

.line {
  position: absolute;
  background-color: #000;
}

.horizontal,
.vertical,
.diagonal {
  width: 100%;
  height: 2px; /* Adjust thickness as needed */
  background-color: #000;
  transform-origin: 0 50%;
  animation: rotateLine 5s linear infinite;
}

.vertical {
  transform: rotateY(90deg);
}

.diagonal {
  transform: rotateY(45deg) rotateZ(45deg);
}

@keyframes slideInLeft {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideInRight {
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotateLine {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}



.outline-btn {
  position: relative;
  border: 2px solid #faad1b; /* Set the initial outline color */
  padding: 10px 20px;
  background-color: transparent;
  color: #faad1b;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s, border-color 0.3s;
}

.outline-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start off-screen to the left */
  width: 100%; /* Initially width is 0 */
  height: 100%;
 
  background-color: #faad1b; /* Set the fill color */
  transition: width 0.3s, left 0.3s; /* Apply transition for width and left */
}

.outline-btn:hover::before {

  width: 100%; /* Change width to 100% on hover */
  left: 0; /* Slide in from left to right */
}

.outline-btn:hover {
  color: #fff; /* Change text color on hover */
  border-color: transparent; /* Remove outline on hover */
}

.outline-btn:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%; /* Start off-screen to the right */
  width: 100%;
  height: 100%;
  
  background-color: #faad1b; /* Set the fill color */
  transition: width 0.3s, left 0.3s; /* Apply transition for width and left */
}

.outline-btn:hover::after {

  width: 0; /* Slide out to the right on hover end */
  left: 100%; /* Slide out to the right on hover end */
}
.outline-btn span {
  z-index: -1; /* Ensure the fill color is below the text */
}


/* body{
    background-image:var(--color-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    overflow: hidden;
} */


/* skill */
/* .con{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
/* .car{
  position: relative;
  width: 22opx;
  height: 250px;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.car .percent{
  position: relative;
  width: 150px;
  height: 150px;
  /* background: #f00; */
  /* transform: rotate(270deg); */
 
}
.bootstrap{
  --clr:#7611f6;
 --num:80;
}
.tailwind{
  --clr:#04fc43;
  /* --clr:#38bdf8; */
 --num:90;
}
.react{
  /* --clr:#04fc43; */
  --clr:#38bdf8;

  /* --clr:rgb(4, 0, 255); */
 --num:85;
}
.js{
  --clr:#faad1b;
  --num:80;
}
.php{
  /* --clr:#38bdf8; */
  --clr:rgb(4, 0, 255);


  /* --clr:#4f5b93; */
  --num:80;
}
.lara{
  --clr:#f9322c;
  --num:85;
}
.car .percent svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);

}
.car .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}
.car .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}
.dot{
  position:absolute;
  /* background: #f00; */
  inset: 5px;
 z-index: 10;
 transform: rotate(calc(3.6deg * var(--num)));
 animation: animateDot 2s linear forwards;
}
@keyframes animateDot{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
.dot::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}
.number{
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2s;
}
/* skill */

.gl{
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.4px);
-webkit-backdrop-filter: blur(15.4px);
border: 1px solid rgba(255, 255, 255, 0.86);
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 background-color: #000;
  font-family: 'Italiana', sans-serif;
font-family: 'Space Mono', monospace;
  
}


.h-app{
  min-height: 100vh;
}
.bg{
   background-image: url('./images/ryoji-hayasaka-Pi2YfVX-TMY-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero-bg{
  /* background-image: url('https://unded-react.envalabdemos.com/static/media/bg.c7e5ac36b55a13b78a9c.jpg'); */
  background-image: url('./images/conifers-1867371.jpg');

  /* background-image: url('./images/mountains-7872003.jpg'); */
  /* background-image: url('./images/nettle-437963.jpg'); */
  /* background-image: url('./images/flower-5217356.jpg'); */




  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.hero-overlay{
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-h-2{
  font-size: 2.5rem;
  font-weight: 600;
}

.typed-cursor{
  font-size: 2.5rem;
}

.glassmorphic {
  box-shadow: rgba(255, 255, 255, 0.5) -10px -10px 45px inset,
    rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
}
.gla{
  background: rgba( 22, 23, 22, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.gl{
  background: rgba( 65, 117, 5, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.ico-circle {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 2rem; 
    box-shadow: 0 0 0 10px #faad1b;
    /* display: block; */
  
      /* height: 100px;
      width: 100px;
      font-size: 3rem;
      border-radius: 100%;
      line-height: 1.55;
      margin: 0 auto;
      text-align: center;
      box-shadow: 0 0 0 10px #0078ff; */
    transition: all 300ms ease-in-out;
  }
  
  .fade:hover .ico-circle{
    color: #fff;
    box-shadow: 0 0 0 10px #DD8469;
    background-color: #faad1b;
    transition: all 300ms ease-in-out;
  }



.type--A{
  --line_color : white ;
  --back_color : rgba(255, 255, 255)  ;
}


.card {
	/* background-color: theme('colors.black'); */
	/* border-radius: theme('borderRadius.sm'); */
	/* padding: theme('spacing.4'); */
	/* box-shadow: theme('boxShadow.lg'); */
    
  }

  .card img{
	transition: all 1s;
	transition-timing-function: ease-in-out;
  }
.card:hover img{
		transform: scale(1.3);
}



